.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home{
background-color: #ffcc5c;

}
.search{
    background-color: aqua;
    flex : 1;
    
}
.logout {
    background-color: saddlebrown;
    
   
}

.profile {
    background-color: slateblue;


}
.container > section{
    flex: 2;
    text-align: center;

}